.search_form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(45, 45, 254);
  height: 35px;
  padding-bottom: 20px 0px;
}

.SearchForm__input {
  width: 300px;
  height: 20px;
  margin-left: 68px;
  text-align: center;
}
.SearchForm__button {
  background-color: white;
  position: absolute;
  margin-right: 200px;
  border: none;
}
