.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 0px;
  list-style: none;
}

.photo-card {
  border-radius: 2px;
  border: 2px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

img {
  width: 350px;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.search_form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(45, 45, 254);
  height: 35px;
  padding-bottom: 20px 0px;
}

.load-more-button {
  display: flex;
  justify-content: center;
}

.load_more {
  width: 200px;
  height: 30px;
  background-color: rgb(45, 45, 254);
  color: white;
  position: absolute;
  left: 43%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 10px;
  border: 1px solid black;
}

.hidden {
  display: none;
}

.modal {
  z-index: 1000;
  position: absolute;
  top: 75px;
  left: 230px;
  width: 1000px;
  height: 600px;
}

.SearchForm__input {
  width: 300px;
  height: 20px;
  margin-left: 68px;
  text-align: center;
}
.SearchForm__button {
  background-color: white;
  position: absolute;
  margin-right: 200px;
  border: none;
}
